elpa/*
elpaca/*
eln-cache/*
lisp/*
etc/*
share/*
var/*
themes/*
tree-sitter/*
auto-save-list/*
emacs-lsp-booster/*
eglot-java-eclipse-jdt-cache/*
transient/*
places/*
custom.el
history
tutorial/*
recentf
projects
templates
emacs-lsp-booster/*
places
todo.org
snip.el
